<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Cubano-Regular.ttf</string>
		<string>Recoleta-Black.ttf</string>
		<string>Recoleta-Medium.ttf</string>
		<string>Recoleta-Bold.ttf</string>
		<string>Recoleta-SemiBold.ttf</string>
		<string>Recoleta-Regular.ttf</string>
		<string>Recoleta-Light.ttf</string>
		<string>Recoleta-Thin.ttf</string>
	</array>
</dict>
</plist>
